@import url(http://fonts.googleapis.com/css?family=Aladin);
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000324}}
html {
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000330}}
a, a:visited {
  color: #3F9ACA;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000334}}
  a:hover, a:visited:hover {
    color: #E2341D; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000338}}
  a.active, a:visited.active {
    color: #0566C7; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000343}}
li.expanded, li.leaf, li.collapsed,
ul li, ul li.expanded, ul li.leaf, ul li.collapsed, .item-list ul li,
.menu ul li, .menu ul li.expanded, .menu ul li.leaf, .menu ul li.collapsed,
.menu .collapsed, .menu .expanded, .menu .leaf {
  text-align: left;
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000351}}
.l-branding {
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000365}}
.site-name {
  font-family: Aladin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 3em;
  font-style: normal;
  text-align: center;
  text-shadow: 1.4px 1.4px 5px #4f4f4f;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  width: 100%;
  font-size: 2.628em;
  width: 50%;
  font-size: 3.2em;
  width: 70%;
  font-size: 4.2em;
  font-size: 5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\0000375}}
  .site-name a {
    text-decoration: none;
    color: #E2341D; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003103}}
.site-slogan {
  float: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 0.65em;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #022B55;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  margin-top: 0;
  text-align: center;
  width: 70%;
  font-size: 0.8em;
  padding: 0 2%;
  width: 46%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 70%;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003142}}
.site-logo {
  display: block;
  align-self: center;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  width: auto;
  max-width: 100%;
  -webkit-box-flex: 2 auto;
  -moz-box-flex: 2 auto;
  -webkit-flex: 2 auto;
  -ms-flex: 2 auto;
  flex: 2 auto;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  max-width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003153}}
  .site-logo img {
    -webkit-box-flex: 0 auto;
    -moz-box-flex: 0 auto;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003172}}
.l-region--sidebar-first .contextual-links-region {
  background: #E7F2F9;
  border: 1px solid #82BEDE;
  padding: 7px;
  margin: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003178}}
  .l-region--sidebar-first .contextual-links-region table {
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003188}}
.block__title, .article-title {
  color: #000000;
  font-size: 24px;
  font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  padding: 6px 5px;
  margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003198}}
.article-title {
  color: #03407C;
  font-size: 29px;
  margin: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003205}}
.tabs--primary {
  border: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003208}}
  .tabs--primary li a {
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    margin: 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 28px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #3D9CFA;
    border: 0;
    border-collapse: separate;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #3D9CFA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 21px;
    margin: 0 auto;
    height: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003244}}
    .tabs--primary li a:hover {
      color: #C7E2F0;
      background-color: #328DBD; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003249}}
    .tabs--primary li a.active {
      color: #C2FFFF;
      background-color: #25698D; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003256}}
.node__submitted {
  color: #0454A4; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003259}}
  .node__submitted .post-date::before {
    content: url("../images/postdateicon.png");
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003270}}
  .node__submitted .post-author::before {
    content: url("../images/postauthoricon.png");
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003282}}
.node__content .field--name-body {
  line-height: 175%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003286}}
tr.even, tr.odd {
  background-color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003290}}
.l-footer {
  border-top: 1px dotted #82BEDE;
  padding: 0;
  margin: 20px auto 0;
  position: relative;
  color: #000000;
  font-size: 12px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/drupal-test\/sites\/all\/themes\/olender\/sass\/olender\.styles\.scss}line{font-family:\00003301}}
  .l-footer p {
    margin: 0;
    padding: 0; }
