@charset "UTF-8";
/********** Include webfonts **********/
/********** Site name styles **********/
/********** Flexbox Mixins **********/
/********** Button Styles **********/
@import url(http://fonts.googleapis.com/css?family=Aladin);
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_forms\.scss}line{font-family:\000031}}
input[name="name"], input[name="pass"] {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_forms\.scss}line{font-family:\000035}}
.form-actions {
  margin: 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_lists\.scss}line{font-family:\000031}}
li.expanded, li.leaf, li.collapsed,
ul li, ul li.expanded, ul li.leaf, ul li.collapsed, .item-list ul li,
.menu ul li, .menu ul li.expanded, .menu ul li.leaf, .menu ul li.collapsed,
.menu .collapsed, .menu .expanded, .menu .leaf {
  text-align: left;
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_tables\.scss}line{font-family:\000031}}
tr.even, tr.odd {
  background-color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\000035}}
html {
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px; }
  @media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\000035}}
    html {
      font-size: 16px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000314}}
a, a:visited {
  color: #3F9ACA;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
  a:hover, a:visited:hover {
    color: #E2341D; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
  a.active, a:visited.active {
    color: #0566C7; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000328}}
.page-title, .block__title, .article-title {
  color: #067FF9;
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  margin: 10px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000338}}
.block__title, .article-title {
  color: #000000;
  padding: 6px 5px;
  margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000346}}
.l-footer {
  font-size: 12px; }
  @media (min-width: 20em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_typography\.scss}line{font-family:\0000346}}
    .l-footer {
      font-size: 9px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/base\/_user\.scss}line{font-family:\000032}}
.page-user .field--label-inline .field__label,
.page-user .field--label-inline .field__items {
  float: none;
  line-height: 175%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_blocks\.scss}line{font-family:\000031}}
.l-region--sidebar-first .block {
  background: #E7F2F9;
  border: 1px solid #82BEDE;
  padding: 7px;
  margin: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_blocks\.scss}line{font-family:\000037}}
  .l-region--sidebar-first .block table {
    width: 100%; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_blocks\.scss}line{font-family:\000031}}
    .l-region--sidebar-first .block {
      border-left: 1px dotted #82BEDE; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_buttons\.scss}line{font-family:\000031}}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: 0;
  border-collapse: separate;
  background-origin: border-box !important;
  background: #3D9CFA;
  border-radius: 4px;
  padding: 0 21px;
  margin: 0 auto;
  height: 28px;
  text-decoration: none;
  font-size: 1em;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 28px;
  box-sizing: content-box;
  background: #3D9CFA; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003169}}
  button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    color: #C7E2F0;
    background-color: #328DBD; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003174}}
  button.active, html input[type="button"].active, input[type="reset"].active, input[type="submit"].active {
    color: #C2FFFF;
    background-color: #25698D; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_buttons\.scss}line{font-family:\000036}}
.tabs--primary li a {
  text-decoration: none;
  font-size: 1em;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 28px;
  box-sizing: content-box;
  background: #3D9CFA;
  background: none;
  color: #3F9ACA;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  text-align: left;
  text-indent: 10px;
  text-shadow: 0 0 0;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003169}}
  .tabs--primary li a:hover {
    color: #C7E2F0;
    background-color: #328DBD; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003174}}
  .tabs--primary li a.active {
    color: #C2FFFF;
    background-color: #25698D; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_buttons\.scss}line{font-family:\0000318}}
  .tabs--primary li a.active {
    color: white; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_buttons\.scss}line{font-family:\000036}}
    .tabs--primary li a {
      border: 0;
      border-collapse: separate;
      background-origin: border-box !important;
      background: #3D9CFA;
      border-radius: 4px;
      padding: 0 21px;
      margin: 0 auto;
      height: 28px;
      text-decoration: none;
      font-size: 1em;
      font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
      font-weight: bold;
      font-style: normal;
      text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;
      color: #FFFFFF;
      margin: 0 !important;
      overflow: visible;
      cursor: pointer;
      text-indent: 0;
      line-height: 28px;
      box-sizing: content-box;
      background: #3D9CFA;
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003169}}
      .tabs--primary li a:hover {
        color: #C7E2F0;
        background-color: #328DBD; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003174}}
      .tabs--primary li a.active {
        color: #C2FFFF;
        background-color: #25698D; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_footer\.scss}line{font-family:\000031}}
.l-footer {
  border-top: 1px dotted #82BEDE;
  padding: 0;
  margin: 20px auto 0;
  color: #000000;
  font-size: 12px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_footer\.scss}line{font-family:\0000311}}
  .l-footer p {
    margin: 0;
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_main\.scss}line{font-family:\000031}}
.article-title {
  color: #03407C;
  font-size: 1.813em;
  margin: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_main\.scss}line{font-family:\000038}}
.node__submitted {
  color: #0454A4;
  margin-top: 1%; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_main\.scss}line{font-family:\0000312}}
  .node__submitted .post-date::before, .node__submitted .post-author::before {
    content: url("../images/postdateicon.png");
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_main\.scss}line{font-family:\0000323}}
  .node__submitted .post-author::before {
    content: url("../images/postauthoricon.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_main\.scss}line{font-family:\0000329}}
.node__content .field--name-body {
  line-height: 175%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
.l-region--navigation {
  border-bottom: 1px dotted #82BEDE; }

/***** Main navigation menu button *****/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\000036}}
#menu-button, .l-content > #menu-button {
  background: #0454A4;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  display: block;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  color: #d3eced;
  padding: 1% 5%;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000322}}
  #menu-button::before, #menu-button::after, .l-content > #menu-button::after, .l-content > #menu-button::before {
    display: block;
    content: '';
    position: relative;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    left: 90%;
    top: 8px; }
    @media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000322}}
      #menu-button::before, #menu-button::after, .l-content > #menu-button::after, .l-content > #menu-button::before {
        left: 96%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000337}}
  #menu-button::after, .l-content > #menu-button::after {
    border-bottom: 2px solid #d3eced;
    top: -10px; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\000036}}
    #menu-button, .l-content > #menu-button {
      display: none; } }

/***** Main navigation *****/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000349}}
#block-system-main-menu .menu {
  display: none;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #E7F2F9;
  border: 1px solid #82BEDE;
  margin: 0;
  padding: 1em 0; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000349}}
    #block-system-main-menu .menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      background: none;
      border: none;
      margin: 1em 0;
      padding: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000367}}
  #block-system-main-menu .menu li {
    flex: 1 100%;
    font-size: 1.250em;
    font-weight: bold;
    font-style: normal;
    margin-left: 6%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left; }
    @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000367}}
      #block-system-main-menu .menu li {
        flex: 0 auto;
        text-align: center;
        margin: 0 3%; } }

/***** Primary tabs menu button *****/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000386}}
.l-content > #menu-button {
  font-size: 0.75em;
  width: 80%; }

/***** Primary tabs *****/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000393}}
.tabs--primary {
  border: 0;
  display: none;
  background: #E7F2F9;
  border: 1px solid #82BEDE;
  width: 89.5%; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\0000393}}
    .tabs--primary {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
      background: none;
      border: none;
      width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\00003108}}
  .tabs--primary li {
    margin-right: 0;
    width: 100%; }
    @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_navigation\.scss}line{font-family:\00003108}}
      .tabs--primary li {
        flex: 0 auto;
        margin: 0 1% 1% 0;
        width: auto; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_sidebar\.scss}line{font-family:\000031}}
.l-region--sidebar-first {
  flex: 1 100%; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/components\/_sidebar\.scss}line{font-family:\000031}}
    .l-region--sidebar-first {
      border-left: 1px dotted #82BEDE;
      flex: 3 0px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
.l-page {
  margin: 0 auto; }
  @media (min-width: 15em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
    .l-page {
      max-width: 15em; } }
  @media (min-width: 20em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
    .l-page {
      max-width: 80%; } }
  @media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
    .l-page {
      max-width: 30em; } }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
    .l-page {
      max-width: 48em; } }
  @media (min-width: 64em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
    .l-page {
      max-width: 64em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\000031}}
    .l-page {
      max-width: 70em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\0000324}}
.l-main {
  display: flex;
  flex-flow: row wrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\0000329}}
.l-content {
  flex: 1 100%;
  padding: 0 2%; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\0000329}}
    .l-content {
      flex: 9 0px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\0000338}}
.l-region--sidebar-first {
  flex: 1 100%; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_grid\.scss}line{font-family:\0000338}}
    .l-region--sidebar-first {
      flex: 3 0px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\000031}}
.l-header {
  margin-bottom: 1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\000035}}
.l-branding {
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\000035}}
    .l-branding {
      flex-flow: column wrap;
      height: 135px; } }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\000035}}
    .l-branding {
      max-height: 120px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
.site-name {
  font-family: Aladin, Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-shadow: 1.4px 1.4px 5px #4f4f4f;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/abstractions\/_mixins\.scss}line{font-family:\00003104}}
  .site-name a {
    text-decoration: none;
    color: #E2341D; }
  @media (min-width: 15em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
    .site-name {
      width: 100%; } }
  @media (min-width: 20em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
    .site-name {
      font-size: 3em; } }
  @media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
    .site-name {
      font-size: 2.628em;
      width: 50%; } }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
    .site-name {
      font-size: 3.2em;
      width: 70%; } }
  @media (min-width: 64em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
    .site-name {
      font-size: 4.2em; } }
  @media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000319}}
    .site-name {
      font-size: 5em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000346}}
.site-slogan {
  float: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #022B55;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }
  @media (min-width: 15em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000346}}
    .site-slogan {
      margin-top: 0;
      text-align: center;
      width: 70%; } }
  @media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000346}}
    .site-slogan {
      padding: 0 2%;
      width: 46%; } }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000346}}
    .site-slogan {
      font-size: 16px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 70%; } }
  @media (min-width: 64em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000346}}
    .site-slogan {
      margin: 0;
      padding: 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000385}}
.site-logo {
  display: block;
  align-self: center;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  width: auto;
  max-width: 100%;
  -webkit-box-flex: 2 auto;
  -moz-box-flex: 2 auto;
  -webkit-flex: 2 auto;
  -ms-flex: 2 auto;
  flex: 2 auto;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000396}}
  .site-logo img {
    -webkit-box-flex: 0 auto;
    -moz-box-flex: 0 auto;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    width: 100%; }
  @media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/olender\/sites\/all\/themes\/olender\/sass\/layouts\/_header\.scss}line{font-family:\0000385}}
    .site-logo {
      max-width: 30%; } }

/********** SASS File Structure **********
sass/
|
|- abstractions/
|	|– _mixins.scss		 # Sass Mixins
| 
|– base/ 
|   |– _forms.scss       # Form styles
|	|- _list.scss		 # List styles
|	|- _media.scss		 # Media rules
|	|- _tables.scss		 # Table rules
|   |– _typography.scss  # Typography rules 
|	|- _user.scss		 # Styles for user pages
| 
|– components/ 
|   |– _blocks.scss 	 # Blocks 
|	|- _buttons.scss	 # Buttons
|   |– _footer.scss      # Footer 
|   |– _main.scss        # Main content area 
|   |– _navigation.scss  # Navigation 
|	|- _search.scss		 # Search
|	|- _sidebar.scss	 # Sidebar
| 
|– layouts/ 
|   |– _grid.scss        # Grid system 
|   |– _header.scss      # Header 
| 
|- variables/
|	|- _colors.scss		 # Color schemes
|	|- _grids.scss		 # Grid settings and breakpoints
|	|- _legacy.scss		 # Legacy browser support
|	|- _typography		 # Font stacks, sizes, and related metrics
| 
`– olender.styles.scss	 # Primary Sass file 

***********************************************/
