// Import external libraries.
@import "breakpoint";
@import "compass";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "abstractions/**/*";
@import "variables/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";

.l-region--sidebar-first{
	.contextual-links-region {
	background: #E7F2F9;
	border: 1px solid #82BEDE;
	padding: 7px;
	margin: 3px;

		table {
			width: 100%;
		}
	}

	@include breakpoint($tab-portrait){
		border-left: 1px dotted #82BEDE;
	}
}

.block__title {
	color: #000000;
	font-size: 1.5em;
	font-family: $title-font;
	font-weight: normal;
	font-style: normal;
	padding: 6px 5px;
	margin: 0 5px;
}

.article-title {
	@extend .block__title;
	color: #03407C;
	font-size: 1.813em;
	margin: 5px 10px;
}

.node__submitted {
	color: #0454A4;
	margin-top: 1%;

	.post-date::before {
		content: url('../images/postdateicon.png');
		margin-right: 6px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		bottom: auto;
	}

	.post-author::before {
		content: url('../images/postauthoricon.png');
		margin-right: 6px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		bottom: auto;
	}
}

.node__content .field--name-body {
	line-height: 175%;
}

.l-footer {
	border-top: 1px dotted #82BEDE;
	padding: 0;
	margin: 20px auto 0;
	position: relative;
	color: #000000;
	font-size: 0.75em;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	line-height: 175%;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}
}