// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

html {
	font-family: $default-font;
}

@import url(http://fonts.googleapis.com/css?family=Aladin);

a, a:visited {
	color: #3F9ACA;
	text-decoration: none;

	&:hover {
		color: #E2341D;
	}

	&.active {
		color: #0566C7;
	}
}

li.expanded, li.leaf, li.collapsed,
ul li, ul li.expanded, ul li.leaf, ul li.collapsed, .item-list ul li, 
.menu ul li, .menu ul li.expanded, .menu ul li.leaf, .menu ul li.collapsed,
.menu .collapsed, .menu .expanded, .menu .leaf {
	text-align: left;
	list-style: none;
}

.l-branding {
	flex-flow: row wrap;

	@include flexbox();

	@include breakpoint($tab-mini){
		flex-flow: column wrap;
		height: 135px;
	}
	@include breakpoint($tab-portrait){
		max-height: 120px;	
	}
}

.site-name {
	font-family: Aladin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 3em;
	font-style: normal;
	text-align: center;
	text-shadow: 1.4px 1.4px 5px rgb(79, 79, 79);
	padding: 0;
	margin: 0;

	a {
		text-decoration: none;
		color: #E2341D;
	}

	@include flex(1 auto);
	@include breakpoint($sm-phone, true){
        width: 100%; 
    }
    @include breakpoint($phone, true){
           
    }
    @include breakpoint($tab-mini, true){
        font-size: 2.628em;
        width: 50%;
    }
    @include breakpoint($tab-portrait, true){
        font-size:3.2em;
        width: 70%;
    }
    @include breakpoint($tab-landscape, true){
        font-size: 4.2em;
    }
    @include breakpoint($desk, true){
        font-size: 5em;
    }
}

.site-slogan {
	float: none;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 0.65em;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	color: #022B55;

	@include flex(1 auto);
	@include breakpoint($sm-phone, true){
		margin-top: 0;
        text-align: center;
        width: 70%;
    }
    @include breakpoint($phone, true){
        
    }
    @include breakpoint($tab-mini, true){
        font-size: 0.8em;
        padding: 0 2%;
        width: 46%;
    }
    @include breakpoint($tab-portrait, true){
        margin: 0;
        padding: 0;
        text-align: center;
        width: 70%;
    }
    @include breakpoint($tab-landscape, true){
        margin: 0;
        padding: 0;
    }
    @include breakpoint($desk, true){

    }
}

.site-logo {
	display: block;
	align-self: center;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    width: auto;
    max-width: 100%;

	@include flex(2 auto);

    img {
    	@include flex(0 auto);
    	width: 100%;
    }

	@include flex(1 auto);

	@include breakpoint($sm-phone, true){

    }
    @include breakpoint($tab-mini, true){
        
    }
    @include breakpoint($tab-portrait, true){
        max-width: 30%;
    }
}

.l-region--sidebar-first{
	.contextual-links-region {
	background: #E7F2F9;
	border: 1px solid #82BEDE;
	padding: 7px;
	margin: 3px;

		table {
			width: 100%;
		}
	}

	@include breakpoint($tab-portrait){
		border-left: 1px dotted #82BEDE;
	}
}

.block__title {
	color: #000000;
	font-size: 24px;
	font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	padding: 6px 5px;
	margin: 0 5px;
}

.article-title {
	@extend .block__title;
	color: #03407C;
	font-size: 29px;
	margin: 5px 10px;
}

.tabs--primary {
	border: 0;

	li a {
		text-decoration: none;
		font-size: 16px;
		font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
		font-weight: bold;
		font-style: normal;
		text-shadow: 0 -1px 0 rgba(23, 23, 23, 0.82);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
		text-align: center;
		color: #FFFFFF;
		margin: 0 !important;
		overflow: visible;
		cursor: pointer;
		text-indent: 0;
		line-height: 28px;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		background: #3D9CFA;

		border: 0;
		border-collapse: separate;
		-webkit-background-origin: border !important;
		-moz-background-origin: border !important;
		background-origin: border-box !important;
		background: #3D9CFA;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 0 21px;
		margin: 0 auto;
		height: 28px;

		&:hover {
			color: #C7E2F0;
			background-color: #328DBD;
		}

		&.active {
			color: #C2FFFF;
			background-color: #25698D;
		}
	}
}

.node__submitted {
	color: #0454A4;

	.post-date::before {
		content: url('../images/postdateicon.png');
		margin-right: 6px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		bottom: auto;
	}

	.post-author::before {
		content: url('../images/postauthoricon.png');
		margin-right: 6px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		bottom: auto;
	}
}

.node__content .field--name-body {
	line-height: 175%;
}

tr.even, tr.odd {
	background-color: transparent;
}

.l-footer {
	border-top: 1px dotted #82BEDE;
	padding: 0;
	margin: 20px auto 0;
	position: relative;
	color: #000000;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	line-height: 175%;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}
}