.l-region--sidebar-first .block {
	background: $block-bg-color;
	border: 1px solid $border-color;
	padding: 7px;
	margin: 3px;

	table {
		width: 100%;
	}
	ul {
		padding: 0 10px;
	}

	@include breakpoint($tab-portrait){
		border-left: 1px dotted $border-color;
	}
}