.l-region--sidebar-first{
	.contextual-links-region {
	background: #E7F2F9;
	border: 1px solid #82BEDE;
	padding: 7px;
	margin: 3px;

		table {
			width: 100%;
		}
	}

	@include breakpoint($tab-portrait){
		border-left: 1px dotted #82BEDE;
	}
}