$link-color: #3F9ACA;
$link-active-color: #0566C7;
$link-hover-color: #E2341D;

$site-name-color: #E2341D;

$page-title-color: #067FF9;
$site-slogan-color: #022B55;

$border-color: #82BEDE;

$menu-button-bg-color: #0454A4;
$menu-button-font-color: #d3eced;

$button-bg-color: #3D9CFA;
$button-hover-color: #328DBD;
$button-active-color: #25698D;
$button-text-hover-color: #C7E2F0;
$button-text-active-color: #C2FFFF;

$block-bg-color: #E7F2F9;