$default-font: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
$default-font-size: 16px;
$default-line-height: 175%;

$site-name-font: Aladin, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;

$title-font: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
$page-title-size: 26px;

$footer-font-size: 12px;

$menu-button-font: 'Open Sans', Helvetica, sans-serif;